.home-page {
  height: 100vh;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  overflow: hidden;
  justify-content: space-between;
  .col-home {
    &.home-group {
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
