@import '../../assets/style/colors';
@import '../../assets//style/var';
.insta-search-comp {
  display: flex;
  align-items: center;
  height: 30px;
  box-sizing: border-box;
  margin: 12px 16px;
  background-color: #EFEFEE;
  border-radius: 6px;
  .search-icon {
    flex: 0 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    box-sizing: border-box;
    img {
      width: 100%;
    }
  }
  .search-input-box {
    flex: 1 0 auto;
    box-sizing: border-box;
    padding-left: 6px;
    overflow: hidden;
    input {
      background-color: #EFEFEE;
      outline: none;
      border: none;
      width: 100%;
    }
  }
}
