@import '../../assets/style/colors';
@import '../../assets//style/var';
.bottom-nav-comp {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 16px 0 28px 0;
  background-color: #fff;
  .col-bottom-nav {
    transition: 0.2s ease;
    img {
        width: 30px;
        height: 30px;
      }
    &.active {
      display: flex;
      flex-direction: column;
      &::after {
        height: 3px;
        width: 3px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -3px;
        content: "";
        background-color: red;
        border-radius: 50%;
      }
    }
    &:last-child {
      img {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid gray;
        box-sizing: border-box;
        margin-bottom: 3px;
      }
    }
  }
}
